.reports h2 {
    margin-top: 30px;
    color: red;
}
.reports p {
    font-size: 1.2rem;
}

@media only screen and (max-width: 480px) {
    .reports h2 {
        font-size: 1.3rem;
    }

    .reports p {
        font-size: 1.1rem;
    }
}