@import url(https://fonts.googleapis.com/css?family=Hanken+Grotesk);

html, body, div#root {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}

.App {
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.App#light {
    background-color: white;
    color: black;
}

.App#dark {
    background-color: #1B1B1D;
    color: white;
}

.main_wrapper {
    max-width: 1160px;
    margin: 0 auto;
    padding: 2rem 1rem;
    flex: 1 0 auto;
}
